__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.venv/
env/
venv/
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
*.env
docker-compose.override.yml
.pytest_cache/
.cache/
coverage.xml
htmlcov/
.tox/
build/
dist/
*.egg-info/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
.venv/
*.log
.terraform.rc
